<!DOCTYPE html>
<html lang="en">
  <head>
    <title>download</title>
  </head>
  <body>
        <form method="GET" action="{{ url_for('../resources/thumbnail.png') }}">
            <input type="submit">
        </form>
  </body>
  <script>
    // var file_path = "../resources/thumbnail.png";
    // var a = document.createElement("A");
    // a.href = file_path;
    // a.download = file_path.substr(file_path.lastIndexOf("/") + 1);
    // document.body.appendChild(a);
    // a.click();
    // document.body.removeChild(a);
    // window.history.back();
  </script>
</html>
